# Created by .ignore support plugin (hsz.mobi)

.DS_Store

.gradle/
build/
.sandbox/
.sandbox-*/

*.log
*.bak
tmp.*
*.swp

### IntelliJ IDEA ###
.idea/*
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/vcs.xml
!.idea/gradle.xml
!.idea/compiler.xml
!.idea/kotlinc.xml
!.idea/kotlinScripting.xml
!.idea/bashsupport_project.xml
!.idea/runConfigurations/
!.idea/dictionaries/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/sqldialects.xml
!.idea/misc.xml
!.idea/shellcheckPlugin.xml
*.iml
*.iws
*.ipr
